@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
  font-weight: 400;
}

body {
  font-family: 'Raleway';
  font-size: 0.8rem;
  font-style: normal;
}

#header {
  text-transform: uppercase;
  background-color: white!important;
}

#landing {
  background-image: url('../images/hipos.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
}

.has-error input {
  border-color: crimson;
}

#note {
  position: absolute;
}

h2 {
  font-size: 1rem;
  text-align: center;
  font-style: bold;
}

/* .gray {
  background-color: #f7f7f7;
} */

.btn {
  background-color: #42bcc9;
  border-color: #42bcc9;
}

.btn:hover{
  background-color: #008793;
  border-color: #008793;
}

.upper {
  text-transform: uppercase;
}

.form-control {
  font-size: 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover 
{
   color: rgba(0,0,0,.5); 
   text-decoration:none; 
   cursor:pointer;  
}

#wedshoots {
  width: 8em;
}

#elcorteingles {
  width: 10em;
}

#monico {
  width: 10em;
}

.guest {
  border: 1px solid #eee;
  background-color: white;
  position: relative;
}

.guest i.btn-remove {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0.5;
  cursor: pointer;
}

.guest i.btn-remove:hover {
  opacity: 1;
}

footer {
  color: white;
  background-color: #282828;
}

/* .entry:not(:first-of-type)
{
  margin-top: 10px;
}

.glyphicon
{
  font-size: 12px;
} */

.navbar-light .navbar-toggler {
  border-color: white;
}

.img-fluid {
  width: 100%;
}

.asistente .card-header {
  border-bottom: none;
  font-size: 1rem !important;
  cursor: pointer;
}

.asistente .card-body {
  overflow: hidden;
  height: 0;
  padding: 0;
  transition: all 0.45s ease 0;
}

.asistente .card-body .card-title {
  font-size: 1rem;
}

.asistente .card-body.show {
  height: 100%;
  padding: 25px;
}

.see {
  position: absolute;
  right: 10px;
  top: 3px;
  transition: all 0.25s ease 0;
}
.see.clicked {
  transform: rotate(45deg);
}

.th-inner  {
  text-transform: uppercase;
  background-color: #008793;
  color: white;
  text-align: center;
}

/* td {
  background-color: #ffe4a5;
} */
/* 
.invitado {

} */
