
@font-face {
  font-family: 'Monserrat';
  src: url('/fonts/Monserrat.woff');
  font-weight: 400;
}

body {
  font-family: 'Monserrat';
}

nav {
  text-transform: uppercase;
}

.gray {
  background-color: #eee;
}