
@font-face {
  font-family: 'Monserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.woff');
  font-weight: 400;
}

body {
  font-family: 'Monserrat';
  font-size: 0.8rem;
}

header {
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
  text-align: center;
}

.section-title {
  text-transform: uppercase;
}

.gray {
  background-color: #eee;
}

footer {
  color: white;
  background-color: #282828;
}